<!DOCTYPE html>
<html lang="en">


<head>
    <title>Education Master Template</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!--SUG-Website MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index.html"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>SUG-MENU</h4>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <!-- <li><a href="#">About us</a></li> -->
                                <li><a href="events.html">Events</a></li>
                                <!-- <li><a href="#">Clubs</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Seminar</a></li>
                                <li><a href="#">Awards</a></li>
                                <li><a href="#">Admission</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Photos</a></li> -->
                            </ul>
                            <h4>Student-Portal</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">SUG-Portal</a></li>
                                <li><a href="https://ictuniversity.org/portal-login">ICTU-portal</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SUG-Website HEADER SECTION-->
    <section>
        <!--SUG-Website TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Email: sug@ictuniversity.edu.cm</a></li>
                                <li><a href="#">Phone: +237 692 07 70 05</a></li>
                                <li><a href="#">Location: Dispensaire Messassi</a></li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">SUG-Portal</a></li>
                                <li><a href="https://ictuniversity.org/portal-login"
                                        data-target="#modal2">ICTU-Portal</a></li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="https://github.com/ictustudentunion" target="_blank"><i
                                            class="fa fa-github" aria-hidden="true"></i></a></li>
                                <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL" class="wa1"><i
                                            class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                                <!-- <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/logo.png" alt="" /></a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <!-- <li class="about-menu">
                                    <a href="#" class="mm-arr">About us</a>
                                    
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="#">
                                                            <img src="images/student-sugia.jpg" alt="">
                                                            <span>Synergie</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>Are you ready to take the lead? At ICT-University, we believe that students are the driving force behind campus life. As a member of the Student at ICT-University, you're not just a student – you're an administrator of change and innovation.</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="#">All Clubs</a></li>
                                                        <li><a href="#">About SUG</a></li>
                                                        <li><a href="#">SUG Members</a></li>
                                                        <li><a href="#">Party</a></li>
                                                        
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="#">miss master</a></li>
                                                        <li><a href="#">Competitions</a></li>
                                                        <li><a href="#">GitHub Projects</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                <li><a href="events.html">Events</a></li>
                                <!-- <li><a href="#">Clubs</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Seminar</a></li>
                                <li><a href="#">Award</a></li>
                                <li class="admi-menu">
                                    <a href="#" class="mm-arr">Admission</a>
                                    
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/ictu-img.jpg" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                    <p>Looking for academic excellence? At ICT-University, we are committed to providing a quality education that prepares our students for success in an ever-changing world.</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/admiss-img.jpg" alt="">
                                                            <span>Admission</span>
                                                        </a>
                                                    </div>
                                                    <p>Ready to take the first step towards your future? At ICT-University, we are delighted to welcome you to our diverse and dynamic student community.</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/awardstudent.jpg" alt="">
                                                            <span>History & awards</span>
                                                        </a>
                                                    </div>
                                                    <p>Delve into our past and discover the Student Union Government's (SUG) legacy of success and commitment. Since its founding,...</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/h-res1.jpg" alt="">
                                                            <span>Seminar 2024</span>
                                                        </a>
                                                    </div>
                                                    <p>Get ready for an enriching experience at the Seminar 2024! Hosted by the Student Union Government (SUG) of ICT-University...</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Photos</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">
                    </div>
                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search Club / Start up">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">NGcodeX|Microsoft</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">DANCE CLUB</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">BASKETBALL CLUB</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">FOOTBALL CLUB</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">JOURNALISM CLUB</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">ICTU CREATIVES</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">GDSC</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">ENTREPRENEURSHIP CLUB</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">CYBEX</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">Other...</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Club">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--SECTION START-->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>SUG <span> Events</span></h2>
                            <p>Find out what exciting events has planned in the coming weeks!</p>
                        </div>
                        <div>
                            <div class="ho-event pg-eve-main">
                                <ul>
                                    <li>
                                        <div class="ho-ev-date pg-eve-date"><span>12</span><span>June,2024</span>
                                        </div>
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="https://www.tickettailor.com/checkout/view-event/id/4207555/chk/d9f0/?modal_widget=true&widget=true">
                                                <h4>Student Travel Kribi Trip</h4>
                                            </a>
                                            <p>We invite you to take part in an unforgettable three-day getaway to Kribi, one of the most beautiful beaches in our country.</p>
                                            <span>3 Days to Kribi</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            <a href="https://www.tickettailor.com/checkout/view-event/id/4207555/chk/d9f0/?modal_widget=true&widget=true">Get Ticket</a><a href="https://www.tickettailor.com/events/studentuniongovenment/1262727">Read more</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pg-pagina">
                            <ul class="pagination">
                                <li class="disabled"><a href="#!"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="waves-effect"><a href="#!">2</a></li>
                                <li class="waves-effect"><a href="#!"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


    <!--SECTION START-->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>New Mental Health Awareness Initiative</h4>
                            <p>The SUG is launching a new mental health awareness initiative. Join us for workshops,
                                listening sessions, and events aimed at promoting mental well-being on campus.</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="#">View Seminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>About SUG Vision</h4>
                    <p>Our vision in the Student Union Government (SUG) is to create a vibrant, inclusive and engaged
                        student community. We aspire to be champions of change
                        and innovation on campus, providing enriching learning opportunities, fostering open dialogue,
                        and encouraging active student participation in all
                        aspects of university life. We believe in the importance of representing and advocating for the
                        interests of all students, ensuring that everyone
                        feels heard, respected and supported.</p>
                </div>
            </div>
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Top Menu</h4>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">All Clubs</a></li>
                        <li><a href="#">Seminar</a></li>
                        <li><a href="#">Student Awards</a></li>
                        <li><a href="#">Admission</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Best Club</h4>
                    <ul>
                        <li><a href="#">--</a></li>
                        <li><a href="#">Statistics</a></li>
                        <li><a href="#">Web Design/Development</a></li>
                        <li><a href="#">SEO</a></li>
                        <li><a href="#">Google Business</a></li>
                        <li><a href="#">Graphics Design</a></li>
                        <li><a href="#">Networking Courses</a></li>
                        <li><a href="#">Information technology</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li><a href="#">24x7 Live help</a>
                        </li>
                        <li><a href="#">Contact us</a>
                        </li>
                        <li><a href="#">Feedback</a>
                        </li>
                        <li><a href="#">FAQs</a>
                        </li>
                        <li><a href="#">Safety Tips</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address: Dispensaire Messassi ICT-University</p>
                    <p>Phone: <a href="#!">+237 6** ** ** **</a></p>
                    <p>Email: <a href="#!">sug@ictustudentunion.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE SUG MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                        <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                    <a target="_blank" href="https://ngcodex.com">@2024 SUG Power By NGcodeX</a>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Coming Soon...
                    </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>Matricule</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn">
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal"
                                    data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal"
                                    data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Coming Soon... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Pls contact the SUG admin </p>
                    <!--<form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>Matricule</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>-->
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>STUDENT-PORTAL... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>Username or emailid</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn">
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal"
                                    data-target="#modal1">Are you a already member ? Login</a> | <a href="#"
                                    data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- SOCIAL MEDIA SHARE -->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <!-- <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li> -->
                <!-- <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li> -->
                <!-- <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li> -->
                <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL" class="wa1" target="_blank"><i
                            class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="https://github.com/ictustudentunion" class="wa1" target="_blank"><i class="fa fa-github"
                            aria-hidden="true"></i></a> </li>
                <!-- <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li> -->
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>