<!-- 
    /*-----------------------------------------
 [SUG HTML]
 * Project: ICTU Student Union Government Website
 * Version: v1
 * Copyright 2024- studentuniongov
 * First Changes: 05 MAY 2024
 * Author: CodeurZebs | VP
 * Email:      ngcodex@gmail.com
 * Website:    https://ngcodex.com
 -----------------------------------------------*/
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Student Union Government</title>
    <!--SUG-Website global META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ICT-University Student Union Government WebSite. Global Students activities...">
    <meta name="keyword" content="SUG, ICT university, ICTU-SUG, school, Sug Activities, sug Synergie">
    <!--SUG-Website Library FAV ICON -->
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
    <!--SUG-Website GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700"
        rel="stylesheet">
    <!--SUG-Website FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--SUG-Website ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/style-mob.css" rel="stylesheet" />
</head>

<body>
    <!--SUG-Website MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index.html"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>SUG-MENU</h4>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <!-- <li><a href="#">About us</a></li> -->
                                <li><a href="events.html">Events</a></li>
                                <!-- <li><a href="#">Clubs</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Seminar</a></li>
                                <li><a href="#">Awards</a></li>
                                <li><a href="#">Admission</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Photos</a></li> -->
                            </ul>
                            <h4>Student-Portal</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">SUG-Portal</a></li>
                                <li><a href="https://ictuniversity.org/portal-login">ICTU-portal</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SUG-Website HEADER SECTION-->
    <section>
        <!--SUG-Website TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Email: sug@ictuniversity.edu.cm</a></li>
                                <li><a href="#">Phone: +237 692 07 70 05</a></li>
                                <li><a href="#">Location: Dispensaire Messassi</a></li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">SUG-Portal</a></li>
                                <li><a href="https://ictuniversity.org/portal-login"
                                        data-target="#modal2">ICTU-Portal</a></li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="https://github.com/ictustudentunion" target="_blank"><i
                                            class="fa fa-github" aria-hidden="true"></i></a></li>
                                <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL" class="wa1"><i
                                            class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                                <!-- <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--SUG-Website LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/logo.png" alt="" /></a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <!-- <li class="about-menu">
                                    <a href="#" class="mm-arr">About us</a>
                                    
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="#">
                                                            <img src="images/student-sugia.jpg" alt="">
                                                            <span>Synergie</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>Are you ready to take the lead? At ICT-University, we believe that students are the driving force behind campus life. As a member of the Student at ICT-University, you're not just a student – you're an administrator of change and innovation.</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="#">All Clubs</a></li>
                                                        <li><a href="#">About SUG</a></li>
                                                        <li><a href="#">SUG Members</a></li>
                                                        <li><a href="#">Party</a></li>
                                                        
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="#">miss master</a></li>
                                                        <li><a href="#">Competitions</a></li>
                                                        <li><a href="#">GitHub Projects</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                <li><a href="events.html">Events</a></li>
                                <!-- <li><a href="#">Clubs</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Seminar</a></li>
                                <li><a href="#">Award</a></li>
                                <li class="admi-menu">
                                    <a href="#" class="mm-arr">Admission</a>
                                    
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/ictu-img.jpg" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                    <p>Looking for academic excellence? At ICT-University, we are committed to providing a quality education that prepares our students for success in an ever-changing world.</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/admiss-img.jpg" alt="">
                                                            <span>Admission</span>
                                                        </a>
                                                    </div>
                                                    <p>Ready to take the first step towards your future? At ICT-University, we are delighted to welcome you to our diverse and dynamic student community.</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/awardstudent.jpg" alt="">
                                                            <span>History & awards</span>
                                                        </a>
                                                    </div>
                                                    <p>Delve into our past and discover the Student Union Government's (SUG) legacy of success and commitment. Since its founding,...</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/h-res1.jpg" alt="">
                                                            <span>Seminar 2024</span>
                                                        </a>
                                                    </div>
                                                    <p>Get ready for an enriching experience at the Seminar 2024! Hosted by the Student Union Government (SUG) of ICT-University...</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Photos</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">
                    </div>
                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search Club / Start up">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">NGcodeX|Microsoft</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">DANCE CLUB</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">BASKETBALL CLUB</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">FOOTBALL CLUB</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">JOURNALISM CLUB</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">ICTU CREATIVES</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">GDSC</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">ENTREPRENEURSHIP CLUB</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">CYBEX</a></li>
                                            <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL"
                                                    target="_blank">Other...</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Club">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SUG-Website END HEADER SECTION-->
    <!--SUG-Website SLIDER -->
    <section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!--SUG-Website Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slider1 active">
                    <img src="images/slider/banner (1).jpg"
                        style="width: 100%; height: 40em; object-fit: cover; position: relative;">
                    <div
                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);">
                    </div>
                    <div class="carousel-caption slider-con">
                        <h2>Welcome to<br> <span>Student Union Government</span></h2>
                        <p>Welcome to the official website of the Student Union Government (SUG) of ICT-University. We
                            are committed to creating an enriching and dynamic student experience, offering a wide range
                            of events, activities and resources to enrich your academic and personal journey.</p>
                        <a href="#clubs" class="bann-btn-1">All Clubs</a><a href="#events" class="bann-btn-2">All
                            events</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var video = document.getElementById('myVideo');
        video.currentTime = 50;
        var interval = setInterval(function () {
            if (video.currentTime >= 60) {
                video.currentTime = 50;
            }
        }, 1000);
    </script>

    <!--SUG-Website QUICK LINKS -->

    <!--SUG-Website DISCOVER MORE -->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Discover <span>SUG</span></h2>
                    <p>Immerse yourself in your world. in a synergistic environment. your talent is a remarkable asset.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="ed-course">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="#">
                                <img src="images/student-sugadmin.jpg" alt="">
                                <span>Club Activities</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="#">
                                <img src="images/club-img.jpg" alt="">
                                <span>Event & Research</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="#">
                                <img src="images/job-sug.jpg" alt="">
                                <span>Job/Entreprises</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="#">
                                <img src="images/newsblog.jpg" alt="">
                                <span>New & Blog</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- POPULAR COURSES -->
    <section class="pop-cour">
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Popular <span>Club</span></h2>
                    <p>Explore the various clubs and activities offered by the SUG. From music to technology, sports to
                        art, there's something for everyone.</p>
                </div>
            </div>
            <div class="row" id="clubs">
                <div class="col-md-6">
                    <div>
                        <!--POPULAR CLUB-->
                        <div class="home-top-cour">
                            <!--POPULAR CLUB IMAGE-->
                            <div class="col-md-3"> <img src="images/clubs/ngcodex-club.png" alt=""> </div>
                            <!--POPULAR CLUB: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="#">
                                    <h3>NGcodeX | Microsoft Club</h3>
                                </a>
                                <h4>President: ZEBS HAUPUR</h4>
                                <p>learning opportunities, and friendly competitions.
                                </p> <span class="home-top-cour-rat">4.9</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Join</a> </li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>885 views</a> </li>
                                        <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> 495 members</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR CLUB-->
                        <div class="home-top-cour">
                            <!--POPULAR CLUB IMAGE-->
                            <div class="col-md-3"> <img src="images/clubs/club-logo.jpg" alt=""> </div>
                            <!--POPULAR CLUB: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="#">
                                    <h3>Entrepreneurship Club</h3>
                                </a>
                                <h4>President: Limala Paul</h4>
                                <p>your world is now</p> <span class="home-top-cour-rat">3.1</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Join</a> </li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>185 views</a> </li>
                                        <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> 63 members</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <!--POPULAR CLUB-->
                        <div class="home-top-cour">
                            <!--POPULAR CLUB IMAGE-->
                            <div class="col-md-3"> <img src="images/clubs/club-logo.jpg" alt=""> </div>
                            <!--POPULAR CLUB: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="#">
                                    <h3>GDSC Club</h3>
                                </a>
                                <h4>President: Danwe Stepahane</h4>
                                <p>Sharing of technical software engineering practical... </p> <span
                                    class="home-top-cour-rat">3.8</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Join</a> </li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>305 views</a> </li>
                                        <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> 290 members</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR CLUB-->
                        <div class="home-top-cour">
                            <!--POPULAR CLUB IMAGE-->
                            <div class="col-md-3"> <img src="images/clubs/club-logo.jpg" alt=""> </div>
                            <!--POPULAR CLUB: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="#">
                                    <h3>FOOTBALL CLUB</h3>
                                </a>
                                <h4>President: Kum Jude</h4>
                                <p>Organise Football matches within the University and other...</p> <span
                                    class="home-top-cour-rat">4</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Join</a> </li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>585 views</a> </li>
                                        <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> 380 members</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- UPCOMING EVENTS -->
    <section id="events">
        <div class="container com-sp pad-bot-0">
            <div class="row">
                <div class="col-md-4">
                    <!--<div class="ho-ex-title">
							<h4>Upcoming Event</h4>
						</div>-->
                    <div class="ho-ev-latest ho-ev-latest-bg-1">
                        <div class="ho-lat-ev">
                            <h4>Upcoming Event</h4>
                            <p>Find out what exciting events has planned in the coming weeks!</p>
                        </div>
                    </div>
                    <div class="ho-event ho-event-mob-bot-sp">
                        <ul>
                            <li>
                                <div class="ho-ev-date"><span>16</span><span>june,2024</span>
                                </div>
                                <div class="ho-ev-link">
                                    <a href="events.html">
                                        <h4>Kribi Trip</h4>
                                    </a>
                                    <p>All student are eligible to register</p>
                                    <span>3 Days</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--<div class="ho-ex-title">
							<h4>Upcoming Event</h4>
						</div>-->
                    <div class="ho-ev-latest ho-ev-latest-bg-2">
                        <div class="ho-lat-ev">
                            <h4>Job & Stage</h4>
                            <p>Whether you're looking for an internship, part-time job...</p>
                        </div>
                    </div>
                    <div class="ho-event ho-event-mob-bot-sp">
                        <ul>
                            <li>
                                <div class="ho-ev-img"><img src="images/event/3.jpg" alt="">
                                </div>
                                <div class="ho-ev-link">
                                    <a href="events.html">
                                        <h4>Java SE developer</h4>
                                    </a>
                                    <p>NGcodeX-Entreprise</p>
                                    <span>Location: Remote</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--<div class="ho-ex-title">
							<h4>Upcoming Event</h4>
						</div>-->
                    <div class="ho-ev-latest ho-ev-latest-bg-3">
                        <div class="ho-lat-ev">
                            <h4>Register & Login</h4>
                            <p>SUG Student-area! Coming soon.... Stay tune guys!!!</p>
                        </div>
                    </div>
                    <div class="ho-st-login">
                        <ul class="tabs tabs-hom-reg">
                            <li class="tab col s6"><a href="#hom-vijay">Register</a>
                            </li>
                            <li class="tab col s6"><a href="#hom_log">Login</a>
                            </li>
                        </ul>
                        <div id="hom-vijay" class="col s12">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input disabled type="text" class="validate">
                                        <label>Matricule</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input disabled type="text" class="validate">
                                        <label>Email id</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input disabled type="password" class="validate">
                                        <label>Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input disabled type="password" class="validate">
                                        <label>Confirm password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="submit" value="Register"
                                            class="waves-effect waves-light light-btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="hom_log" class="col s12">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" class="validate">
                                        <label>Student Matricule</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input display type="text" class="validate">
                                        <label>Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="submit" value="Login" class="waves-effect waves-light light-btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- NEWS AND EVENTS -->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="con-title">
                    <h2>News and <span>Blog</span></h2>
                    <p>Stay informed about the latest news, events and interesting articles on campus and beyond.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="bot-gal h-gal ho-event-mob-bot-sp">
                        <h4>Photo Gallery</h4>
                        <ul>
                            </li>
                            <li><img class="materialboxed" data-caption="image captions" src="images/ami/2.jpg" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="image captions" src="images/ami/3.jpg" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="image captions" src="images/ami/4.jpg" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="image captions" src="images/ami/5.jpg" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="image captions" src="images/ami/6.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bot-gal h-vid ho-event-mob-bot-sp">
                        <h4>Video Gallery</h4>
                        ...video coming soon
                        <h5>That you want to live again</h5>
                        <p>Immerse yourself in the action with our video gallery that captures the most memorable
                            moments and exciting events
                            on campus. Discover captivating videos from our most popular events, vibrant artistic
                            performances, thrilling
                            sporting competitions and much more.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bot-gal h-blog ho-event">
                        <h4>News & Blog</h4>
                        <div class="ho-event">
                            <ul>
                                <li>
                                    <div class="ho-ev-date"><span>02</span><span>feb,2024</span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="#">
                                            <h4>New Entrepreneurship Lecture Series</h4>
                                        </a>
                                        <p>Discover the new entrepreneurship lecture series organized by the SUG.</p>
                                        <span>9:15 am – 4:00 pm</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ho-ev-date"><span>12</span><span>feb,2024</span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="#">
                                            <h4>Opening of New Student Wellness Center</h4>
                                        </a>
                                        <p>We're excited to announce the opening of the brand new Student Wellness
                                            Center</p>
                                        <span>10:15 am – 1:00 pm</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ho-ev-date"><span>16</span><span>feb,2024</span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="#">
                                            <h4>Fundraising Campaign for Students in Need</h4>
                                        </a>
                                        <p>Join us in our fundraising campaign to support students facing financial
                                            hardship.</p>
                                        <span>11:15 am – 2:00 pm</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ho-ev-date"><span>18</span><span>feb,2024</span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="#">
                                            <h4>Seminar on International Internship Opportunities</h4>
                                        </a>
                                        <p>Attend our seminar on international internship opportunities.</p>
                                        <span>9:15 am – 5:00 pm</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER COURSE BOOKING -->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>New Mental Health Awareness Initiative</h4>
                            <p>The SUG is launching a new mental health awareness initiative. Join us for workshops,
                                listening sessions, and events aimed at promoting mental well-being on campus.</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="#">View Seminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>About SUG Vision</h4>
                    <p>Our vision in the Student Union Government (SUG) is to create a vibrant, inclusive and engaged
                        student community. We aspire to be champions of change
                        and innovation on campus, providing enriching learning opportunities, fostering open dialogue,
                        and encouraging active student participation in all
                        aspects of university life. We believe in the importance of representing and advocating for the
                        interests of all students, ensuring that everyone
                        feels heard, respected and supported.</p>
                </div>
            </div>
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Top Menu</h4>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">All Clubs</a></li>
                        <li><a href="#">Seminar</a></li>
                        <li><a href="#">Student Awards</a></li>
                        <li><a href="#">Admission</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Best Club</h4>
                    <ul>
                        <li><a href="#">--</a></li>
                        <li><a href="#">Statistics</a></li>
                        <li><a href="#">Web Design/Development</a></li>
                        <li><a href="#">SEO</a></li>
                        <li><a href="#">Google Business</a></li>
                        <li><a href="#">Graphics Design</a></li>
                        <li><a href="#">Networking Courses</a></li>
                        <li><a href="#">Information technology</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li><a href="#">24x7 Live help</a>
                        </li>
                        <li><a href="#">Contact us</a>
                        </li>
                        <li><a href="#">Feedback</a>
                        </li>
                        <li><a href="#">FAQs</a>
                        </li>
                        <li><a href="#">Safety Tips</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address: Dispensaire Messassi ICT-University</p>
                    <p>Phone: <a href="#!">+237 6** ** ** **</a></p>
                    <p>Email: <a href="#!">sug@ictustudentunion.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE SUG MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                        <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                    <a target="_blank" href="https://ngcodex.com">@2024 SUG Power By NGcodeX</a>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Coming Soon...
                    </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>Matricule</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn">
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal"
                                    data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal"
                                    data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Coming Soon... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Pls contact the SUG admin </p>
                    <!--<form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>Matricule</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>-->
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>STUDENT-PORTAL... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>Username or emailid</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn">
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal"
                                    data-target="#modal1">Are you a already member ? Login</a> | <a href="#"
                                    data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- SOCIAL MEDIA SHARE -->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <!-- <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li> -->
                <!-- <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li> -->
                <!-- <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li> -->
                <li><a href="https://chat.whatsapp.com/JrbmMFaiSlCIxghLb2wvwL" class="wa1" target="_blank"><i
                            class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="https://github.com/ictustudentunion" class="wa1" target="_blank"><i class="fa fa-github"
                            aria-hidden="true"></i></a> </li>
                <!-- <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li> -->
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>